body{
    box-sizing: border-box;
    font-family: var(--ff-secondary);
    margin: 0;
   
}
:root{
    --ff-primary: 'Rubik', sans-serif;
    --ff-secondary: 'Public Sans', sans-serif;







    --fs-h1: 4rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;


}
@media(min-width: 800px) {
    :root{
        --fs-h1: 4.5rem;
        --fs-h2: 3.75rem;
        --fs-h3: 1.5rem;
        --fs-body: 1.125rem;

    }
}


h1,
h2,
h3{
    line-height: 1.1;
}



.front_page{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-image: url("pexels-krivec-ales-547114.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}


.title{
    font-family: var(--ff-primary);
    font-size: var(--fs-h1);
}


.email,
.password,
.log-in{
    display: block;
    left: -10.5em;
    position: relative;
    align-items: center;
    width: calc(100% + 20.5em);   
    height: 3em;
    margin: 0 0 1em 0;
    top: -2em;
    border-radius: 10px;
    text-align: center;
    background: rgba(0,0,0,0.7);
    border: none;
    color: white;
    font-weight:900;
}


.log-in{
    left: -10.5em;
    position: relative;
    align-items: center;
    width: calc(100% + 21em);   
    height: 3em;
    top: -1em;
    background-color: 	rgb(11, 235, 235);
}

.icon{
    left: -9em;
    position: relative;
    
}
.fa-brands{
    font-size: 40px;
    color: rgb(255,255,255, 0.9);
    margin-right: 3px;
    cursor: pointer;
    filter: drop-shadow(5px 10px 10px black);
    
}