body{
    box-sizing: border-box;
    font-family: var(--ff-secondary);
    margin: 0;
   
}
:root{
    --ff-primary: 'Rubik', sans-serif;
    --ff-secondary: 'Public Sans', sans-serif;







    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;


}



h1,
h2,
h3{
    line-height: 1.1;
}



.front_page{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    background-image: url("pexels-krivec-ales-547114.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    

}



.title{
    font-family: var(--ff-primary);
    font-size: var(--fs-h1);
    
}

span{
    color: white;
    filter: drop-shadow(5px 10px 10px black);
}

.sign-in a{
   color: white;
    line-height: 3;
    margin: 0;
}

.name,
.email,
.password,
.log-in,
.sign-up{
    display: block;
    left: -4em;
    position: relative;
    align-items: center;
    width: calc(100% + 8.5em);  
    height: 3em;
    margin: 0 0 1em 0;
    top: -2em;
    border-radius: 10px;
    text-align: center;
    background: rgba(0,0,0,0.7);
    border: none;
    color: white;
    font-weight:900;
}


.log-in,
.sign-up{
    
    position: relative;
    align-items: center;
    width: calc(100% + 9em);   
    height: 3em;
    top: -1em;
    background-color: 	rgb(11, 235, 235);
    cursor: pointer;
    filter: drop-shadow(5px 5px 5px black);
}


.sign-up{
    background-color: rgba(0,0,0,0.7);
}

.icon{
    position: relative;
}
.fa-brands{
    font-size: 40px;
    color: rgb(255,255,255, 0.9);
    margin-right: 3px;
    cursor: pointer;
    filter: drop-shadow(5px 10px 10px black);
    
}

@media (min-width: 800px) {
    :root{
        --fs-h1: 3.5rem;
        --fs-h2: 2.75rem;
        --fs-h3: 1.5rem;
        --fs-body: 2.125rem;
       
    }
.name,
.email,
.password,
.log-in,
.sign-up{

    width: calc(100% + 20.5em); 
    left: -10.5em;
    height: 2.5em;
    font-size: 1em;
}

.log-in, 
.sign-up{

    width: calc(100% + 20.5em);   
}
.icon{
    left: -10em;
    
    position: relative;
    
}
.icon i{
    font-size: 2.5em;
}


}











